.css-vj8t7z {
    border-radius: 6px !important;
    min-height: 40px !important;
}

.css-2o5izw {
    border-radius: 6px !important;
    min-height: 40px !important;
    box-shadow: none !important;
}
