@import '../../node_modules/npm-font-open-sans/open-sans.css';

@font-face {
    font-family: 'Mandatory';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MANDATOR.ttf') format('truetype');
}
